* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background: #0b1020;
  color: white;
  font-family: Inter, Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 420px;
  background: #12192e;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #1a233a;
  border-radius: 16px;
  padding: 16px;
}

.card h3 {
  margin-bottom: 10px;
}

.prediction {
  margin-top: 16px;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

.video-feed {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
}

.bar {
  width: 100%;
  height: 18px;

  background: #2a3555;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
}

.fill {
  height: 100%;
  /* background: #1a53b6; */
  border-radius: 20px;
  transition: width 0.4s ease;
}