* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background: #0b1020;
  color: white;
  font-family: Inter, Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 420px;
  background: #12192e;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #1a233a;
  border-radius: 16px;
  padding: 16px;
}

.card h3 {
  margin-bottom: 10px;
}

.prediction {
  margin-top: 16px;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

.video-feed {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
}

.bar {
  width: 100%;
  height: 18px;

  background: #2a3555;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
}

.fill {
  height: 100%;
  /* background: #1a53b6; */
  border-radius: 20px;
  transition: width 0.4s ease;
}

.back-link{

    top:20px;
    left:20px;

    color:#94a3b8;
    text-decoration:none;
    font-weight:600;
}

.back-link:hover{
    color:white;
}

.home{
   
    min-height:100vh;
    background:#07122b;
    color:white;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding:40px;
}

.hero{
    text-align:center;
    margin-top:100px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:15px;
}

.subtitle{
    color:#94a3b8;
    font-size:1.2rem;
}

.start-btn{
    margin-top:30px;

    background:#3b82f6;
    color:white;

    border:none;
    border-radius:12px;

    padding:15px 30px;

    font-size:1rem;
    font-weight:600;

    cursor:pointer;
}

.start-btn:hover{
    transform:translateY(-2px);
}

.stats{
    margin-top:80px;

    width:100%;
    max-width:1200px;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.stat-card{
    background:#152242;

    border-radius:18px;

    padding:30px;

    text-align:center;
}

.stat-card h2{
    font-size:2rem;
}

.how-it-works{
    margin-top:80px;
    text-align:center;
}

.flow{
    margin-top:20px;

    display:flex;
    gap:15px;
    justify-content:center;
    flex-wrap:wrap;
}

footer{
    margin-top:80px;
    color:#94a3b8;
}